<div class="row">     
        <div class="col-lg-offset-5 col-lg-14">
          <div class="imgBox">
            <img src="assets/images/Home_screen_splash_image.png" class="image-size">
            <div class="col-lg-offset-1 col-lg-5">
              <p class="content">Edward Helms</p>
              <p class="content-code">Z238857</p>
            </div>
            <div class="col-lg-offset-10 col-lg-7">
              <p class="content pull-right">Last Loggged in at</p>
              <p class="content-code pull-right"><b>12/20/2017</b>&emsp;20:57:30&emsp;PM</p>   
          </div>
        </div>
        <div class="col-lg-19"></div>
      </div>